// Navigation Styles here



.text-content nav {
    margin-left: 50rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    .navSpecs();
}

.btn a {
    text-align: center;
    padding: 1.5rem;
    border-radius: 25%;
    margin-left: 9rem;
    background-color: teal;
    color: white;
    text-decoration: none;
    width: 100%;
}